<h1>Admin Access</h1>

<section class="admin_shelter_info">
<h2><%= @shelter.name %></h2>
<%= @shelter.address %>
<%= @shelter.city %>
<%= @shelter.state %>
<%= @shelter.zip %><br>
</section>

<section class="admin_shelter_info" id="statistics">
  <h3><%= @shelter.name %>Statistics</h3>
  <p>Average Pet Age: <%= @shelter_average_pet_age %></p>
  <p>Count of Adoptable: <%= @shelter_pet_count %></p>
  <p>Count of Adopted Pets: <%= @shelter_number_adopted_pets %></p>
</section>

<section class="admin_shelter_info" id="action_required">
  <h3>Pets: Action Required</h3>
  <% @shelter_pets_not_reviewed_on_apps.each do |pet| %>
    <p><%= pet.name %></p>
    <% @shelter.action_required_applications(pet).each do |application_id| %>
      <a href="/admin/applications/<%= application_id[0] %>">Update <%= application_id[1] %></a>
    <% end %>
  <% end %>
</section>
