<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopM2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <header>

  </head>

  <body>
    <div class="nav-bar" id="visitor">
        <%= link_to "Back to Home", "/" %>
        <%= link_to "Go to Shelters", "/shelters" %>
        <%= link_to 'Go to Pets', "/pets" %>
        <%= link_to 'Go to Applications', "/applications" %>
        </div>
    <div class="nav-bar" id="admin">
        <%= link_to "Go to Admin Shelters", "/admin/shelters" %>
        <%= link_to 'Go to Admin Applications', "/admin/applications" %>
        </div>
    <%= yield %>
  </body>
</html>
